.chosen-container {
	font-size: 16px;
	max-width: 300px;
	margin-right: 20px;

	.chosen-single {
		border-color: $heather;
		height: 32px;
		width: 100%;
		line-height: 32px;

		& div b {
			background-position: -1px 0px;
		}
	}

    &.chosen-with-drop {
		.chosen-single div b {
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='400' width='400' fill='%230079b6'%3E%3Cpolygon points='200,60 10,250 390,250' class='triangle' /%3E%3C/svg%3E") 3px 11px / 12px no-repeat;
		}
	}

	.chosen-results {
		color: $shuttle;
		li {
			padding-top: 0;
			padding-bottom: 0;
			line-height: 1.65em;
			&.highlighted {
				background: $denim;
			}
		}
	}

	.chosen-drop {
		border-color: $heather;
		margin-top: -4px;
		padding-top: 4px;
	}

	&.error {
		a {
			border-color: $tomato;
			color: $tomato !important;
		}
		.chosen-drop {
			border-color: $tomato;
		}
    	&.chosen-with-drop .chosen-single {
			border-color: $tomato;
		}
	}
}

.chosen-container-single {
	.chosen-single {
		background: $white;
		color: $shuttle;
		div {
			width: 24px;
			b {
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='400' width='400' fill='%230079b6'%3E%3Cpolygon points='200,250 10,60 390,60' class='triangle' /%3E%3C/svg%3E") 3px 11px / 12px no-repeat;
			}
		}
	}
	.chosen-single.chosen-default {
		color: $denim;
	}
	.chosen-search {
		margin-bottom: 4px;
	}
}
.chosen-container-single.error .chosen-single div b {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='400' width='400' fill='%23c23a28'%3E%3Cpolygon points='200,250 10,60 390,60' class='triangle' /%3E%3C/svg%3E") 3px 11px / 12px no-repeat;
}
