@import "modern-normalize";
$normalize-vertical-rhythm: true;

$charcoal: #394a59;
$denim: #0079b6;
$heather: #aec2cb;
$shuttle: #51626f;
$tomato: #c23a28;
$white: #ffffff;


// Box sizing
*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: arial, helvetica, sans-serif;
	line-height: 26px;
	color: $charcoal;
	margin: 20px;
}

main {
	width: 600px;
	margin: auto;

	ul {
		margin-top: 0;
		padding: 0 0 0 20px;
	}

	li {
		margin-bottom: 10px;
		padding-left: 10px;
	}

	pre {
		font-size: 14px;
	}
}

form {
	margin: auto;
	width: 620px;

	// Validation classes
	.error, .highlight_error {
		color: $tomato;
	}

	input[type="text"], input[type="tel"] {
		padding: 3px 8px 4px;
		border: 1px solid $denim;
		border-radius: 4px;
	}

	input[type="text"].error, input[type="tel"].error, textarea.error {
		border-color: $tomato;
	}

	input[type="submit"] {
		float: left;
		width: 120px;
		padding: 2px;
		line-height: 28px;
		border: none;
		background: $denim;
		color: $white;
		border-radius: 8px;
	}

	select {
		padding: 1px;
	}
}

fieldset.city_entry {
	float: left;
	width: 420px;
	border: 0;
	margin: 0;
	padding: 0;

	select.state_list {
		width: 70px;
		margin-right: 20px;
	}

	.city_input, select.city_list {
		width: 300px;
		margin-right: 20px;
	}
}

// Chosen updates
.chosen-container {
	font-size: 16px;
	max-width: 300px;
	margin-right: 20px;

	.chosen-single {
		border-color: $heather;
		height: 32px;
		width: 100%;
		line-height: 32px;

		& div b {
			background-position: -1px 0px;
		}
	}

    &.chosen-with-drop {
		.chosen-single div b {
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='400' width='400' fill='%230079b6'%3E%3Cpolygon points='200,60 10,250 390,250' class='triangle' /%3E%3C/svg%3E") 3px 11px / 12px no-repeat;
		}
	}

	.chosen-results {
		color: $shuttle;
		li {
			padding-top: 0;
			padding-bottom: 0;
			line-height: 1.65em;
			&.highlighted {
				background: $denim;
			}
		}
	}

	.chosen-drop {
		border-color: $heather;
		margin-top: -4px;
		padding-top: 4px;
	}

	&.error {
		a {
			border-color: $tomato;
			color: $tomato !important;
		}
		.chosen-drop {
			border-color: $tomato;
		}
    	&.chosen-with-drop .chosen-single {
			border-color: $tomato;
		}
	}
}

.chosen-container-single {
	.chosen-single {
		background: $white;
		color: $shuttle;
		div {
			width: 24px;
			b {
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='400' width='400' fill='%230079b6'%3E%3Cpolygon points='200,250 10,60 390,60' class='triangle' /%3E%3C/svg%3E") 3px 11px / 12px no-repeat;
			}
		}
	}
	.chosen-single.chosen-default {
		color: $denim;
	}
	.chosen-search {
		margin-bottom: 4px;
	}
}
.chosen-container-single.error .chosen-single div b {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='400' width='400' fill='%23c23a28'%3E%3Cpolygon points='200,250 10,60 390,60' class='triangle' /%3E%3C/svg%3E") 3px 11px / 12px no-repeat;
}
