@import "modern-normalize";
$normalize-vertical-rhythm: true;

$charcoal: #394a59;
$denim: #0079b6;
$raceway: #0085c8;
$heather: #aec2cb;
$shuttle: #51626f;
$tomato: #c23a28;
$white: #ffffff;

// Box sizing
*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: arial, helvetica, sans-serif;
	line-height: 26px;
	color: $charcoal;
	margin: 20px;
}

main {
	width: 600px;
	margin: auto;

	ul {
		margin-top: 0;
		padding: 0 0 0 20px;
	}

	li {
		margin-bottom: 10px;
		padding-left: 10px;
	}

	pre {
		font-size: 14px;
	}
}

form {
	margin: auto;
	width: 620px;

	// Validation classes
	.error, .highlight_error {
		color: $tomato;
	}

	input[type="text"], input[type="password"] {
		display: inline-block;
		vertical-align: middle;
		padding: 0px 8px;
		border: 1px solid $denim;
		border-radius: 4px;
		line-height: 34px;
	}

	input[type="text"].error, input[type="password"].error, textarea.error {
		border-color: $tomato;
	}

	input[type="submit"] {
		float: left;
		width: 120px;
		line-height: 32px;
		border: 1px solid $denim;
		background: $denim;
		color: $white;
		border-radius: 50px;
		&:hover {
			background: $raceway;
		}
	}

	select {
		padding: 1px;
	}
}

fieldset.city_entry {
	float: left;
	width: 420px;
	border: 0;
	margin: 0;
	padding: 0;

	select.state_list {
		width: 70px;
		margin-right: 20px;
	}

	.city_input, select.city_list {
		width: 300px;
		margin-right: 20px;
	}
}
